[submodule "external/sweet"]
	path = external/sweet
	url = https://github.com/burner/sweet.hpp.git
[submodule "SDAonCUDA/sweet"]
	path = SDAonCUDA/sweet
	url = https://github.com/burner/sweet.hpp.git
